@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

.MainApp {
  display: flex;
  flex-direction: column;
}

.container {
  background:white;
  font-variant-caps: all-petite-caps;
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

.container-fluid {
  background-color: #6351ce;
  border-color: darkblue;
  color: white
}
.mainnavbar {
  background: white;
}

.navbar .navbar-brand img {
  height: 50px;
}

.navbar .navbar-brand {
  padding-top: 0;
}

.navbar .nav-link {
  color: #444343!important;
}

.navbar .button-collapse {
  padding-top: 1px;
}

.card-intro .card-body {
  background: #6351ce;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0 !important;
}

.card-intro .card-body h1 {
  margin-bottom: 0;
}

.card-intro {
  margin-top: 64px;
}

@media (max-width: 450px) {
  .card-intro {
    margin-top: 56px;
  }
}

@media (min-width: 1441px) {
  .card-intro {
    padding-left: 0 !important;
  }
}
